---
- name: Enable Ghostty Copr repository
  become: true
  community.general.copr:
    name: pgdev/ghostty
    state: enabled

- name: Install Ghostty
  become: true
  ansible.builtin.dnf:
    name: ghostty
    state: present

- name: Install Oh My Zsh
  ansible.builtin.git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: "~/.oh-my-zsh"
    depth: 1

- name: Install zsh-syntax-highlighting plugin
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    dest: "~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
    depth: 1

- name: Install zsh-autosuggestions plugin
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: "~/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    depth: 1

- name: Install custom ZSH theme
  ansible.builtin.file:
    src: "{{ dotfiles_dir }}/arash.zsh-theme"
    dest: "~/.oh-my-zsh/custom/themes/arash.zsh-theme"
    state: link
  when: dotfiles_dir is defined

- name: Change user shell to zsh
  become: true
  ansible.builtin.user:
    name: "{{ current_user }}"
    shell: /bin/zsh
    