---
- name: Create Emacs config directory
  ansible.builtin.file:
    path: "~/.config/emacs"
    state: directory
    mode: "0755"

- name: Link Emacs config
  ansible.builtin.file:
    src: "{{ dotfiles_dir }}/emacs/init.el"
    dest: "~/.config/emacs/init.el"
    state: link
    follow: false
    force: true

- name: Create Neovim config directories
  become: false
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "~/.config/nvim"
    - "~/.config/nvim/lua"
    - "~/.config/nvim/lua/user"

- name: Link Neovim config files
  become: false
  ansible.builtin.file:
    src: "{{ dotfiles_dir }}/neovim/{{ item.src }}"
    dest: "~/.config/nvim/{{ item.dest }}"
    state: link
    follow: false
    force: true
  loop:
    - { src: "init.vim", dest: "init.vim" }
    - { src: "plugins.lua", dest: "lua/plugins.lua" }
    - { src: "task.lua", dest: "lua/user/task.lua" }
- name: Install nvim-lspconfig
  become: false
  ansible.builtin.git:
    repo: https://github.com/neovim/nvim-lspconfig
    dest: "~/.config/nvim/pack/nvim/start/nvim-lspconfig"
    depth: 1

- name: Install Packer for Neovim
  ansible.builtin.git:
    repo: https://github.com/wbthomason/packer.nvim
    dest: "~/.local/share/nvim/site/pack/packer/start/packer.nvim"
    depth: 1
