---
- name: Install NVM
  ansible.builtin.shell:
    cmd: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/{{ nvm_version }}/install.sh | bash
    creates: "{{ ansible_env.HOME }}/.nvm/nvm.sh"

- name: Install global npm packages
  community.general.npm:
    name: "{{ item }}"
    global: true
    path: "{{ ansible_env.HOME }}/.nvm/versions/node/v24"
  loop:
    - typescript-language-server
    - typescript
    - yarn
