---
- name: Setup Linux machine
  hosts: local
  become: false
  vars:
    current_user: "{{ ansible_user_id }}"
    go_version: "1.25.0"
    dotfiles_dir: "{{ playbook_dir | dirname }}"
    nvm_version: v0.40.3
    node_version: 24
  tasks:
    - name: Enable RPM Fusion repositories
      become: true
      ansible.builtin.dnf:
        name:
          - "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm"
          - "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_major_version }}.noarch.rpm"
        state: present
        disable_gpg_check: true

    - name: Add Microsoft VS Code repository
      become: true
      ansible.builtin.yum_repository:
        name: vscode
        description: Visual Studio Code
        baseurl: https://packages.microsoft.com/yumrepos/vscode
        enabled: true
        gpgcheck: true
        gpgkey: https://packages.microsoft.com/keys/microsoft.asc

    - name: Add Google Chrome repository
      become: true
      ansible.builtin.yum_repository:
        name: google-chrome
        description: Google Chrome
        baseurl: https://dl.google.com/linux/chrome/rpm/stable/x86_64
        enabled: true
        gpgcheck: true
        gpgkey: https://dl.google.com/linux/linux_signing_key.pub

    - name: Add Brave Browser repository
      become: true
      ansible.builtin.yum_repository:
        name: brave-browser
        description: Brave Browser
        baseurl: https://brave-browser-rpm-release.s3.brave.com/x86_64/
        enabled: true
        gpgcheck: true
        gpgkey: https://brave-browser-rpm-release.s3.brave.com/brave-core.asc

    - name: Swap ffmpeg-free with full ffmpeg
      become: true
      ansible.builtin.dnf:
        name:
          - ffmpeg
        state: present
        allowerasing: true

    - name: Ensure required packages are installed
      become: true
      ansible.builtin.dnf:
        name:
          - git
          - firewalld
          - curl
          - wget
          - zsh
          - fd-find
          - man-db
          - ripgrep
          - unzip
          - bat
          - fzf
          - tree
          - zoxide
          - ibm-plex-mono-fonts
          - tmux
          - jq
	  - kitty
	  - yt-dlp
          - aspell
          - aspell-en
          # Development
          - "@c-development" # dnf package group
          # Desktop apps
          - firefox
          - vlc
          - vim-enhanced
          - neovim
          - google-chrome-stable
          - telegram-desktop
          - code
          - emacs
          - brave-browser
        state: present
        update_cache: true

  roles:
    - go
    - node
    - editor
    - shell
    - role: font
      font: "IBMPlexMono"
      font_download_url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/IBMPlexMono.zip"
    - role: font
      font: "0xProtoNerdFont"
      font_download_url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/0xProto.zip"

