---
- name: Setup Mac machine
  hosts: local
  tasks:
    - name: Ensure required packages are installed
      community.general.homebrew:
        update_homebrew: true
        upgrade_all: true
        name:
          - git
          - zsh
          - zsh
          - git
          - tmux
          - fzf
          - jq
          - docker
          - nvm
          - libpq
          - llm
          - ripgrep
          - wget
          - coreutils
          - fd
          - rsync
          - difftastic
          - zoxide
          - ispell
          - gnu-tar
        state: latest

    - name: Install cask
      community.general.homebrew_cask:
        name: alt-tab
        state: present

    - name: Install Oh My Zsh
      ansible.builtin.git:
        repo: https://github.com/ohmyzsh/ohmyzsh.git
        dest: ~/.oh-my-zsh
        depth: 1

    - name: Install zsh-syntax-highlighting plugin
      ansible.builtin.git:
        repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
        dest: ~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
        depth: 1

    - name: Install zsh-autosuggestions plugin # noqa: latest
      ansible.builtin.git:
        repo: https://github.com/zsh-users/zsh-autosuggestions
        dest: ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions
        depth: 1

